
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutMenuOr.cshtml";
}
@model HaNamSite.Models.EF.DiaDiem
@using HaNamSite.Models.EF
<div class="location-details-bg">
    <div class="location-details-in">
        <div class="location-info-details">
            <div class="location-title-details">@Model.TenDiaDiem</div>
            <div class="location-details-img"><img src="~/Asset/img/du-lich-ha-nam-2_1623851344.jpg" /></div>
            <div class="location-details-content">
                <p>@Model.Mota</p>
            </div>
        </div>
    </div>

</div>

