*
{
    margin: 0px;
    padding: 0px;
}

.bg-ontop 
{
    position: relative;
    background-image: url('../img/Tour & Travel (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: auto;
}

.bg-ontop::before
{
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(74, 74, 74, 0.4);
    opacity:1;
    z-index: 0;
}

.nav-menu
{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    /*background-color: rgba(35, 35, 35, 0.9);*/
    width: 100%;
    height: 15%;
    z-index: 999;
    
}

.top-nav
{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-navtop
{
    margin-left: 100px;
}

.logo-navtop img
{
    width: auto;
    height: 62px;
    margin-top: 10px;
}

.nav-menu .search-bar-navtop
{
    margin-left: 100px;
    margin-top: 5px;
}

.nav-menu input
{
    
    height: 45px;
    width: 400px;
    border: none;
    border-radius: 20px;
    
}

.nav-menu input[type=text] 
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.top-nav a
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    margin-right:10px;
    padding: 18px;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 18px;
    transition: ease-in 0.2s;
    
}

.top-nav a:hover
{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #0065d9 , 0 0 70px #0065d9 , 0 0 80px #0065d9 , 0 0 100px #0065d9 ;
}

/*Dropdown Menu*/
.dropbtn 
{
    border-radius: 10px;
  border: 3px solid #0065d9;
  color: white;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  text-decoration:none;
  transition: 0.2s ease-in;
}
.dropbtn:hover
{
    color: white;
    text-decoration: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: auto 0;
    position: relative;
    display: inline-block;
    transition: 0.2s ease-in;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s ease-in;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: #0065d9;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3366cc;
}


.title-in-img
{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    color: white;
    margin-top: 250px;
    text-align: center;
    z-index: 9;
}

.title-in-img h2 
{
    font-weight: bold;
    font-size:35px;
}

.title-in-img span
{
    font-size:25px;
}

.show-box-best-choice 
{
    position: absolute;
    margin-top: 400px;
    display: flex;
    align-items: center;
    height: 200px;
    z-index: 10;
}

.show-box-in 
{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    height: 180px;
    padding: 30px;
    border-radius: 6px;
    margin-left: 270px;
}

.show-box-in .show-box-content
{
    padding:10px;
    text-align:center;
    width: 230px;
}

.show-box-in .show-box-content h4
{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

.show-box-in .show-box-content span
{
    margin-top: 10px;
}

.info-contact {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.info-contact span
{
  color: white;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 50px;
}

/*footer*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
  text-decoration: none;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*Form Contact*/

.contact-us-form
{
  display: none;
  position: fixed;
  z-index: 22; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal-content
{
  text-align: center;
  margin-top: 40px;
  max-width:420px;
  margin:50px auto;
  padding: 15px;
}
#form1 input[type=text] 
{
  color:rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #0065d9;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

#form1 textarea 
{
    padding: 13px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #0065d9;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

#form1 #fcontent 
{
  height: 120px;
}
#form1 input[type=submit] 
{
  color:white;
  font-family: sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #0065d9;
  border:2px solid #0065d9;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  margin-top:15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
#form1 input[type="submit"]:hover 
{
  background:#3dd2e0;
  border-color: #3dd2e0;
}

.close 
{
  color: #361c1c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}



/*Loader*/
#loader 
{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #00acce;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin 
{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom 
{
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom 
{
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom 
{ 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}