
@{
    ViewBag.Title = "BodyStyle1";
    Layout = "~/Views/Shared/LayoutHNS.cshtml";
}
@using HaNamSite.Models.EF;
@foreach (var item in Model)
{
    <div class="bg-in-body bg-local-2">
        <h2><span>Địa Điểm Thú Vị</span></h2>

        <div class="body-tag-news">
            <div class="body-in-tag-news">
                <div class="text-info-travel">
                    <div><h3>@item.TenDiaDiem</h3></div>
                    <div class="details-about-info"><p>@item.Mota</p></div>
                    <div class="btn-show-all"><a href="../Location/Details/@item.ID">Xem thêm</a></div>
                    <div class="btn-show-all"><a href="@Url.Action("Index", "Location")">Xem địa điểm khác</a></div>
                </div>
                <div class="img-info-travel">
                    <div class="img-info-in-bg">
                        <div class="img-in-info">
                            <img src="~/Asset/img/du-lich-ha-nam-2_1623851344.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
}
